<%
//var yesVotes = _.find(get("votes"), function(vote){ return vote.answer == 0; });

var votes = get("votes");
var yesVotesNumber = 0;
var noVotesNumber = 0;
var dontKnowVotesNumber = 0;

if (!IsObjectNullOrUndefined(votes) && votes.length > 0)
{
    yesVotesNumber = _.filter(get("votes"), function(vote){ return vote.answer == 0; }).length;
    noVotesNumber = _.filter(get("votes"), function(vote){ return vote.answer == 1; }).length;
    dontKnowVotesNumber = _.filter(get("votes"), function(vote){ return vote.answer == 2; }).length;
}
%>
<div class="div-votes-container">
    <% if(get("isOpenToVotes")) { %>
    <input type="checkbox" class="vote-check" data-questionId="<%= get('id')%>" checked></input>
    <% }
    else { %>
    <input type="checkbox" class="vote-check"  data-questionid="<%= get('id')%>"></input>
    <% } %>

    <span class="question-text"><%=get("questionText") %></span>
    <span class="vote-title">Yes:</span><span class="votes yes"><%= yesVotesNumber %></span>
    <span class="vote-title">No:</span><span class="votes no"><%= noVotesNumber %></span>
    <span class="vote-title">Dont Know:</span><span class="votes dont-know"><%= dontKnowVotesNumber %></span>
</div>
