<h3 class="">Welcome to WDCIL WebApi Session</h3>

<div id="divQuestionDetails">
    <% if (IsObjectNullOrUndefined(get("questionText"))) { %>
    <div>No current question available.</div>
    <% }
    else { %>
    <h2>
        <div><%=get("questionText") %></div>
    </h2>

    <button id="btnYes" class="btn btn-success button-vote" >YES</button>
    <button id="btnNo" class="btn btn-danger button-vote">NO</button>
    <button id="btnDontKnow" class="btn btn-info button-vote">DON'T KNOW</button>
    <input type="hidden" id="hiddenQuestionId" value="<%=get('id') %>" />
    <% } %>
</div>
