<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- possible values: "Debug", "Test", "Release"-->
    <!-- This key is updated automatically by AppHarbor to "test" when it's running the tests project-->
    <add key="Environment" value="Debug"></add>
    <!-- local computer -->
    <add key="MONGOHQ_URL" value="mongodb://localhost/webapi" />
    <add key="MONGOHQ_URL-Debug" value="mongodb://localhost/webapi" />
    <add key="MONGOHQ_URL-Dev" value="mongodb://appharbor:32e1817994647f6d3f86662ccf961faf@linus.mongohq.com:10044/d8171c55_b017_4e52_98b3_9c1d8851ec82" />
  </appSettings>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://localhost/MyDatabase" />
  </connectionStrings>
</configuration>