<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- possible values: "Debug", "Test", "Release"-->
    <!-- This key is updated automatically by AppHarbor to "test" when it's running the tests project-->
    <add key="Environment" value="Debug"></add>
    <!-- local computer -->
    <add key="MONGOHQ_URL" value="mongodb://localhost/webapi" />
    <add key="MONGOHQ_URL-Debug" value="mongodb://localhost/webapi" />
    <add key="MONGOHQ_URL-Dev" value="mongodb://appharbor:a75b25cfd84b8cc59141e8ef612c1502@linus.mongohq.com:10012/a1272194_c4f2_4471_be83_298c48a3b528" />
  </appSettings>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://localhost/MyDatabase" />
  </connectionStrings>
</configuration>